.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chart {
    display: flex;
    flex-direction: row;
}

.chart>div {
    display: flex;
    flex: 1;
    padding-right: 20px;
}

.chart>div>div {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .chart {
        display: flex;
        flex-direction: column;
    }
    .chart>div {
        padding-right: 0;
        padding-bottom: 20px;
    }
}

.count {
    font-size: 16px !important;
}

.percentage {
    font-size: 20px !important;
    font-weight: bold !important;
}

.center-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-loader {
    position: absolute;
    top: 0;
    right: 6px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 13px;
    padding-right: 5px;
}